.title {
  text-align: center;
  width: 100%;
  font-size: 2em;
  margin: 15px 0;
  color: #007aff;
}

.subtitle {
  text-align: center;
  width: 100%;
  margin: 15px 0;
  color: #007aff;
}

section {
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: calc(100vh - 70px);
}