.asset-blue, .asset-green {
  border-radius: 10px;
  width: 20%;
  min-width: 120px;
  padding: 10px 15px;
  background-color: white;
  transition: .2s;
  cursor: pointer;
}

.asset-blue {
  color: rgb(30 58 138);
  border: solid 2px rgb(30 58 138);
}

.asset-blue:hover {
  transition: .2s;
  background-color: rgb(30 58 138);
  color: white;
}

.asset-green {
  color: rgb(22, 163, 74);
  border: solid 2px rgb(22, 163, 74);
}

.asset-green:hover {
  transition: .2s;
  background-color: rgb(22, 163, 74);
  color: white;
}

.asset-blue p, .asset-green p {
  margin: 0;
  text-align: center;
}