header {
  justify-content: space-between;
  border-bottom: solid black 1px;
}

header img, header svg {
  margin: 20px;
  cursor: pointer;
}

header img {
  width: 200px;
}

header svg {
  width: 30px;
  height: 30px;
}