#sidebar {
  width: 20%;
  min-width: 300px;
  background-color: white;
  min-height: calc(100vh - 70px);
  position: absolute;
  right: 0;
  margin: 0;
  z-index: 1;
}

#focus {
  background-color: rgba(0, 0, 0, 0.8);
  min-height: calc(100vh - 70px);
  width: 80%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.person-account, .person-account-check {
  width: 100px;
  height: 100px;
  border: solid 2px rgb(30 58 138);
  border-radius: 25%;
  color: rgb(30 58 138);
  margin: 50px 0 15px;
}
.person-account-check {
  padding-inline: 10px;
}

.sidebar-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidebar p:hover, #logout {
  color: #007aff;
  cursor: pointer;
  transition: .2s;
}

#sidebar p {
  transition: .5s;
}

#logout {
  color: rgb(255,32,32);
}