.aset-blue, .aset-green, .aset-red {
  border-radius: 10px;
  width: 30%;
  min-width: 200px;
  max-width: 250px;
  height: 300px;
  padding: 10px 15px;
  background-color: white;
  transition: .2s;
  cursor: pointer;
  flex-direction: column;
  margin: 10px;
  justify-content: space-between;
}

.aset-blue {
  color: rgb(30 58 138);
  border: solid 2px rgb(30 58 138);
}

.aset-blue:hover {
  transition: .2s;
  background-color: rgb(30 58 138);
  color: white;
}

.aset-green {
  color: rgb(22, 163, 74);
  border: solid 2px rgb(22, 163, 74);
}

.aset-green:hover {
  transition: .2s;
  background-color: rgb(22, 163, 74);
  color: white;
}

.aset-red {
  color: rgb(255,32,32);
  border: solid 2px rgb(255,32,32);
}

.aset-red:hover {
  transition: .2s;
  background-color: rgb(255,32,32);
  color: white;
}

.aset-blue p, .aset-green p, .aset-red p {
  margin: 0;
  text-align: center;
}

#aset-image {
  width: 190px;
  height: 200px;
  display: flex;
  align-items: center;
}

#aset-image img {
  width: 100%;
}